<div class="box">
    <article class="media is-desktop">
        <div class="media-left">
            <figure class="image is-128x128">
                <img src="/img/512.jpg" alt="Image">
            </figure>
            <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item" aria-label="linkedin">
                        <span class="icon is-small">
                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a class="level-item" aria-label="codepen">
                        <span class="icon is-small">
                            <i class="fab fa-codepen" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a class="level-item" aria-label="github">
                        <span class="icon is-small">
                            <i class="fab fa-github" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>John Burks</strong>
                    <br>
                    Born &amp; raised Houstonian. John has been an avid coder since the late 90's. When he's not coding,
                    you'll find him on the nearest bike path traveling to random destinations within the city.
                </p>
            </div>
        </div>
    </article>
</div>