<footer>

	<div class="section">
		<div class="container is-medium-bottom-margin">
			<div class="columns">
				<div class="column is-three-fifths">
					<div class="newsletter-wrapper element-background">
						<h4>Newsletter Subscribe</h4>
						<p>Interested in receiving infrequent newsletters? Fill in your email below. It shan't be shared
							with anyone and you can unsubscribe at any time.
						</p>
						<br>
						{{ partial "newsletter-form" . }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container is-medium-bottom-margin">
			<div class="columns">
				<div class="column">Copyright 2012-{{ dateFormat "2006" now }}<br>You are free to reuse and repurpose
					anything you find on this site with the exception of the logo and company name.</div>
			</div>
		</div>
	</div>
</footer>

<script src="/app.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>

</html>