{{ define "main" }}

<div class="post">
  <div class="section">
    <div class="container is-medium-bottom-margin">
      <div class="columns">
        <div class="column is-three-fifths">

          <div class="post-title">
            <h1 class="element-background inner-text-padding is-standard-bottom-margin">{{.Title}}</h1>
            {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" class="post-image" />{{ end }}
            <h2>{{ .Description }}</h2>
          </div>
          <div class="post-date">
            <p>{{ .Date.Format "Mon, Jan 2, 2006" }} | Read in {{ .ReadingTime }} minutes</p>
          </div>
          <div>
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}