{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}
<div class="section">
    <div class="container is-medium-bottom-margin">
        <div class="columns">
            <div class="column is-4">
                {{ partial "bio-blurb" }}
            </div>
            <div class="column is-8">
                {{ partial "made-with" }}
            </div>
        </div>
    </div>
</div>

{{ partial "tiles" }}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ end }}